<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjp.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bjp.pojo.UserInfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="lastname" property="lastname" jdbcType="VARCHAR" />
    <result column="firstname" property="firstname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sec_personal_name" property="secPersonalName" jdbcType="VARCHAR" />
    <result column="birthday_time" property="birthdayTime" jdbcType="TIMESTAMP" />
    <result column="native_id" property="nativeId" jdbcType="INTEGER" />
    <result column="native_name" property="nativeName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="inviter_id" property="inviterId" jdbcType="INTEGER" />
    <result column="inviter_name" property="inviterName" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="background_image_url" property="backgroundImageUrl" jdbcType="VARCHAR" />
    <result column="invitation_code" property="invitationCode" jdbcType="VARCHAR" />
    <result column="surname_initials" property="surnameInitials" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, lastname, firstname, gender, phone, sec_personal_name, birthday_time, native_id, 
    native_name, password, role_id, inviter_id, inviter_name, logo, background_image_url, 
    invitation_code, surname_initials, create_time, update_time, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjp.pojo.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjp.pojo.UserInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info (lastname, firstname, gender, 
      phone, sec_personal_name, birthday_time, 
      native_id, native_name, password, 
      role_id, inviter_id, inviter_name, 
      logo, background_image_url, invitation_code, 
      surname_initials, create_time, update_time, 
      status)
    values (#{lastname,jdbcType=VARCHAR}, #{firstname,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{secPersonalName,jdbcType=VARCHAR}, #{birthdayTime,jdbcType=TIMESTAMP}, 
      #{nativeId,jdbcType=INTEGER}, #{nativeName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=INTEGER}, #{inviterId,jdbcType=INTEGER}, #{inviterName,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{backgroundImageUrl,jdbcType=VARCHAR}, #{invitationCode,jdbcType=VARCHAR}, 
      #{surnameInitials,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bjp.pojo.UserInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lastname != null" >
        lastname,
      </if>
      <if test="firstname != null" >
        firstname,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="secPersonalName != null" >
        sec_personal_name,
      </if>
      <if test="birthdayTime != null" >
        birthday_time,
      </if>
      <if test="nativeId != null" >
        native_id,
      </if>
      <if test="nativeName != null" >
        native_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="inviterId != null" >
        inviter_id,
      </if>
      <if test="inviterName != null" >
        inviter_name,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="backgroundImageUrl != null" >
        background_image_url,
      </if>
      <if test="invitationCode != null" >
        invitation_code,
      </if>
      <if test="surnameInitials != null" >
        surname_initials,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="secPersonalName != null" >
        #{secPersonalName,jdbcType=VARCHAR},
      </if>
      <if test="birthdayTime != null" >
        #{birthdayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeId != null" >
        #{nativeId,jdbcType=INTEGER},
      </if>
      <if test="nativeName != null" >
        #{nativeName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="inviterId != null" >
        #{inviterId,jdbcType=INTEGER},
      </if>
      <if test="inviterName != null" >
        #{inviterName,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="backgroundImageUrl != null" >
        #{backgroundImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null" >
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="surnameInitials != null" >
        #{surnameInitials,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjp.pojo.UserInfo" >
    update user_info
    <set >
      <if test="lastname != null" >
        lastname = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="firstname != null" >
        firstname = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="secPersonalName != null" >
        sec_personal_name = #{secPersonalName,jdbcType=VARCHAR},
      </if>
      <if test="birthdayTime != null" >
        birthday_time = #{birthdayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeId != null" >
        native_id = #{nativeId,jdbcType=INTEGER},
      </if>
      <if test="nativeName != null" >
        native_name = #{nativeName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="inviterId != null" >
        inviter_id = #{inviterId,jdbcType=INTEGER},
      </if>
      <if test="inviterName != null" >
        inviter_name = #{inviterName,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="backgroundImageUrl != null" >
        background_image_url = #{backgroundImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="invitationCode != null" >
        invitation_code = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="surnameInitials != null" >
        surname_initials = #{surnameInitials,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjp.pojo.UserInfo" >
    update user_info
    set lastname = #{lastname,jdbcType=VARCHAR},
      firstname = #{firstname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sec_personal_name = #{secPersonalName,jdbcType=VARCHAR},
      birthday_time = #{birthdayTime,jdbcType=TIMESTAMP},
      native_id = #{nativeId,jdbcType=INTEGER},
      native_name = #{nativeName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      inviter_id = #{inviterId,jdbcType=INTEGER},
      inviter_name = #{inviterName,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      background_image_url = #{backgroundImageUrl,jdbcType=VARCHAR},
      invitation_code = #{invitationCode,jdbcType=VARCHAR},
      surname_initials = #{surnameInitials,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>